{% extends "stockings/app_base.html" %}

{% load i18n %}

{% block page_title %}FIXME{% endblock page_title %}

{% block main %}
<main id="stockings-depotitem" class="stockings-depotitem">
  <header>
    <h6>{{ depotitem.depot }}</h6>
    <h2>{{ depotitem.stock_item.name }}</h2>
    <p class="isin">{{ depotitem.stock_item.isin }}</p>
  </header>

<section id="depotitem-detail-summary" class="collapsible-container">
  <header class="collapsible-header">
    <h3>Summary</h3>
  </header>
  <section class="collapsible-content">
    <table>
      <thead>
        <tr>
          <th>Kennzahl</th>
          <th>Wert</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{% translate "Market Value" context "Kurswert" %}</td>
          <td>{{ depotitem.market_value }}</td>
        </tr>
        <tr>
          <td>{% translate "Total Position" context "Anzahl der Anteile" %}</td>
          <td>{{ depotitem.quantity }}</td>
        </tr>
        <tr>
          <td>{% translate "Active Investment" context "Aktueller Bestand * durchschnittlicher Kaufpreis" %}</td>
          <td>{{ depotitem.active_investment }}</td>
        </tr>
        <tr>
          <td>{% translate "Total Investment" context "Summe aller Käufe (inkl. Gebühren)" %}</td>
          <td>{{ depotitem.total_investment }}</td>
        </tr>
        <tr>
          <td>{% translate "Purchase Price" context "Einstandskurs" %}</td>
          <td>{{ depotitem.avg_buy_price }}</td>
        </tr>
        <tr>
          <td>{% translate "Dividends" context "Dividenden" %}</td>
          <td>{{ depotitem.total_dividends }}</td>
        </tr>
        <tr>
          <td>{% translate "Realized Profit" context "Realisierte Gewinne" %}</td>
          <td>{{ depotitem.realized_gains }}</td>
        </tr>
        <tr>
          <td>{% translate "Fees" context "Summe aller Gebühren" %}</td>
          <td>{{ depotitem.total_fees }}</td>
        </tr>
        <tr>
          <td>{% translate "Taxes" context "Summe aller Steuern" %}</td>
          <td>{{ depotitem.total_taxes }}</td>
        </tr>
        <tr>
          <td>{% translate "Cumulative Cashflow" context "Kumulativer Cashflow" %}</td>
          <td>{{ depotitem.total_cashflow }}</td>
        </tr>
        <tr>
          <td>{% translate "Total Value" context "Gesamtwert (kumulativer Cashflow + Kurswert)" %}</td>
          <td>{{ depotitem.total_value }}</td>
        </tr>
      </tbody>
    </table>
  </section>
</section>

<section id="depotitem-detail-cashflows" class="collapsible-container">
  <header class="collapsible-header">
    <h3>Cashflow</h3>
  </header>
  <section class="collapsible-content">
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Timestamp</th>
          <th>Quantity</th>
          <th>Price/unit</th>
          <th>Fees</th>
          <th>Taxes</th>
          <th>Net Cashflow</th>
        </tr>
      </thead>
      <tbody>
        {% for flow in depotitem.cashflows.all %}
        <tr>
          <td>{{ flow.flow_type }}</td>
          <td>{{ flow.timestamp }}</td>
          <td>{{ flow.quantity }}</td>
          <td>{{ flow.price_per_unit }}</td>
          <td>{{ flow.fees }}</td>
          <td>{{ flow.taxes }}</td>
          <td>{{ flow.net_cashflow }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</section>

</main>
{% endblock main %}
