{% extends "stockings/base.html" %}

{% block html_title %}Portfolio Detail{% endblock %}

{% block main_content %}
<header>
    <h2>Portfolio Detail</h2>
</header>

<section>
    <h3>Overview</h3>
</section>

<section>
    <h3>Active Items</h3>
    <table>
    {% for item in portfolio.portfolioitems_list %}
        {% if item.stock_count > 0 %}
        <tr>
            <td>{{ item.stockitem.name }}</td>
            <td>{{ item.stock_value }}</td>
            <td>{{ item.stock_count }}</td>
            <td>{{ item.profit }}</td>
            <td>{{ item.profit_rate }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</section>

<section>
    <h3>Inactive Items</h3>
    <table>
    {% for item in portfolio.portfolioitems_list %}
        {% if item.stock_count < 1 %}
        <tr>
            <td>{{ item.stockitem.name }}</td>
            <td>{{ item.stock_value }}</td>
            <td>{{ item.stock_count }}</td>
            <td>{{ item.profit }}</td>
            <td>{{ item.profit_rate }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</section>

<section>
    <h3>Trades</h3>
</section>

<section>
    <h3>Settings</h3>
</section>
{% endblock %}
